*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #8907ca;  /* Theme color*/
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    min-width: 300px;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}
/* ul {
    list-style-type: none;
} */
/* i {
    font-size: 50px;
} */

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 4px;
}

/* Buttons */       

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}
/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0; 
    font-size: var(--fs-h3);
    color: var(--clr-light);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}
.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 5em 5em;
}

.logo {
    max-width: 150px;
    /* margin: auto 0; */
}

.nav {
    position: absolute;
    right: 100px;
    color: var(--clr-dark);
    background: rgba(255, 255, 255, 0.8);       /* change background for menu to be transparent */
    width: fit-content;
    max-height: 0;
    overflow: hidden;

    transform: translateY(-100%);
    transition: .7s ease-in-out;

}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;

}

.nav__openlist, 
.open__link {
    display: flex;
    gap:2rem;
    list-style: none;
    font-size:1.5rem;
    color: rgb(160, 21, 214);
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
    margin: 0;
}


.nav__list, 
.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}
.open_nav { 
    margin: 0 6px;
    padding: 0;
}
.nav__link:hover {
    color: var(--clr-accent);
}
.open__link:hover {
    color: rgb(189, 189, 189);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 3em;
    top: 1.2em;
    z-index: 1000;
}

.nav-open .nav {
    max-height: 300px;
    transform: translate(0%);
    transition: .7s ease;
    /* transition: transform 500ms cubic-bezier(.5, 0, .5, 1); */
}

.nav-open .nav-toggle {
    position: fixed;
}
.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: none;
    position: relative; 
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}
.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

@media screen and (max-width: 1000px) {  /* hide nav menu and show hamburger menu icon*/
    .open_nav{
        display: none;
    }
    .hamburger{
        display:flex;
    }
    .nav-toggle{
        top: 70px;
        left: auto;
        right: 0;
        margin-right: 100px;
    }

}
/*  Intro section  */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}
.skill-icons{
    display: flex;
    justify-content: space-evenly;
    max-width: 700px;
    margin: auto;
    font-size: 35px;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }    
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative; 
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
    .skill-icons{
        font-size: 45px;
    }
}

/*  My services section  */

.my-services {
    background-color: var(--clr-accent);
    background-image: url(../img/services-bg.jpg);
    background-size: cover;
    background-blend-mode:multiply;
    color: var(--clr-light);
    text-align: center;
}
.section__title--services {
    color: var(--clr-accent);
    position: relative;
}
.section__title--services::after {
    content: '';
    display: block;
    width: 3em;
    height: 2px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.5;
}

.services {
    display: flex;
    flex-direction: column;
    flex-shrink: inherit;
    margin-bottom: 4em;
}
 
.service {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 400px;
    min-width: 150px;
    margin: 0 auto;
    /* border: solid 1px red */
}
.service-list{
    display: flex;
    justify-content: center;
}


@media (min-width: 900px) {
    .services {
        display: flex;
        flex-direction: row;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        /* border: solid 3px red; */
 
    }  
    .service + .service {
        margin-left: 2em;
    }
}
.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}
@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
        "title img"
        "subtitle img"
        "text img";
        grid-column-gap: 2em;
    }   
    
    .section__title--about {
        grid-area: title;
    }
    
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}
/* My Work */
.my-work {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;    
}
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.portfolio__item {
    background: var(--clr-accent);
    color: var(--clr-light);
}
.portfolio__img {
    height:100%;
}
.portfolio__item:focus {
    position: relative;
    z-index: 2;
    outline: 7px solid var(--clr-accent);
    outline-offset: 0px; 
}
.portfolio__item:hover{
    position: relative;
    text-align: center;
}
.overlay {
    position: absolute;
    padding: 10px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #240038;
    overflow: hidden;
    height: 0%;  /*starting height*/
    transition: .7s ease;
    visibility: hidden;     
    opacity: 0;
    align-content: center;
}
.overlay a{
    margin:5px;
    color: #000000;
    background-color: #f2ff41;
    padding: 2px 10px;
    font-weight:bold;
    border-radius: 10px;
    text-decoration: none;
}           
.overlay a:hover{
    color: #ffffff;
    background-color: #ff4141;
}

.overlay:focus {
    position: relative;
}

.portfolio__item:hover .overlay,
.portfolio__item:focus .overlay {
    height: 100%;
    visibility: visible;
    opacity: 0.90;                
}

/* footer */
.footer {
    background: #ffffff;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    margin-bottom:50px;
    font-size: 30px;
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 2em 2em;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portfolio-item-individual p,
.portfolio-item-individual img {
    max-width: 600px;
    padding: 0;
    margin: 5px auto;
    transition: .7s ease;
}
.portfolio-item-individual a {
    align-self: center;
}
.zoom_img:hover {
    align-self: center;
    transition: .7s ease;
    transform: scale(1.5);
    border:1px solid;
    border-color: #cb05f3;
    opacity: .9;
}









